.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.monocromo{
  filter: grayscale(100%);
}

.colores {
  color: rgb(255, 255, 255);
  color: rgb(27, 27, 27);
  color: rgb(33, 37, 41);
  color: rgb(18, 18, 18);
}

.nav-link.active {
  background-color: rgb(33, 37, 41) !important;
}

.fondo {
  background-color: rgb(18, 18, 18);
}

.fondo-oscuro {
  background-color: rgb(27, 27, 27);
}

.sombra {
  box-shadow: -6px 14px 19px 7px rgba(18, 18, 18, 0.4);
}

/* .boton {
  color: white;
  background-color: rgb(224, 41, 87) !important;
} */

.fondo-barra{
  background-color: rgb(33, 37, 41);
}

.fondo-titular {
  transform: skew(-20deg);
  background-color: rgb(33, 37, 41);
  box-shadow: -6px 14px 19px 7px rgba(18, 18, 18, 0.4);
  border-radius: 6px;
}

.fondo-experiencia {
  transform: scale(1.1);
  background-color: rgb(27, 27, 27);
  box-shadow: -6px 14px 19px 7px rgba(18, 18, 18, 0.4);
  border-radius: 6px;
}

.fondo-estudios {
  transform: translate(-25px);
  background-color: rgb(33, 37, 41);
  box-shadow: -19px 14px 19px 7px rgba(18, 18, 18, 0.4);
  border-radius: 6px;
}

.texto-titular {
  transform: skew(20deg);
  color: white;
}

.foto {
  border: 6px double rgb(18, 18, 18);
  width: 50%;
  border-radius: 500px 500px 500px 500px;
}

.fondo-foto {
  border-radius: 500px 500px 500px 500px;
  background-color: rgb(27, 27, 27);
}

.hover-github {
  background-image: url("../public/images/github.png") 50%;
  width: 100%;
}
.hover-github:hover {
  background-image: url("../public/images/github2.png");
  width: 100%;
}

.texto-titular-3 {
  transform: scale(0.9);
  color: white;
}

.contenedor {
  width: auto;
  height: 100vh;
  /* background: #fff; */
  position: fixed;
  overflow: auto;
  border-radius: 4px;
}
.contenedor::-webkit-scrollbar{
  width: 10px;
}
.contenedor::-webkit-scrollbar-thumb {
  background: rgb(255, 46, 99);
  border-radius: 5px;
}

.row {
  margin: 0px;
}

.fuente {
  font-family: 'Poppins', sans-serif;
}

.footer {
  background-color: rgb(27, 27, 27);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
